/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/range_slider/jquery-ui.css";
        @import "../css/plugins.css";

        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
        @import url(https://fonts.googleapis.com/css?family=PT+Mono);




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family:'Open Sans', sans-serif;
        font-size:15px;
        line-height:inherit;
        color:#333;
        min-width:1300px;
        -webkit-text-size-adjust: none;
    }
    button{
        font-family:'Open Sans', sans-serif;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        /*width: 1280px;*/
        margin-right: auto;
        margin-left: auto;
    }
    .main{
        width: 962px;
        margin-right: auto;
        margin-left: auto;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#2ca3ff;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                color:#333;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                /*padding: 13.5px 29px;*/
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }

            .title5{
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 900;
                color: #333333;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}
            .reg_no{text-transform:none;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF !important;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .open_lt,
            .open_reg,
            .open_sb,
            .open_bd,
            .open_extra_bd{
                font-family: 'Open Sans', sans-serif;
            }
            .open_lt{font-weight: 300;}
            .open_reg{font-weight: 400;}
            .open_sb{font-weight: 600;}
            .open_bd{font-weight: 700;}
            .open_extra_bd{font-weight: 800;}

            .pt_mono{
                font-family: 'PT Mono', sans-serif;
            }


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        background: #000;
        
    }
        .header_content{
            position: relative;
        }
        .header_box{
            position: absolute;
            left: 24px;
            right: 24px;
            top: 15px;
            z-index: 9999;
        }
        
        .logo{
          
        }
            .logo a{
                display:block;
                width:116px;
                height:38px;
                background:url(../images/logo.png) 0 0 no-repeat;
                text-decoration:none;
                text-indent:-9999px;
                font-size: 0;
            }
        
        .menu{
            margin: 0 -14px;
        }
            .menu_item{
                float: left;
                margin: 0 14px;
            }   
                .menu_link{
                    margin-top: 8px; 
                    font-size: 15px;
                    color: #fff;
                    border-bottom: 1px dashed #fff;
                    text-decoration: none;
                } 
                .last_menu_link{
                    line-height: 1;
                    font-size: 15px;
                    color: #ff262b;
                    padding: 10px 22px 10px; 
                    border: 1px solid #ff262b;
                    text-decoration: none;
                    border-radius: 3px;
                }
                .menu_link:hover{
                    color: #ff262b;
                    border-bottom: none;
                }
                .last_menu_link:hover{
                    background: #ff262b;
                    color: #fff;

                }

        .header_carousel_item{
            height: 694px;
            position: relative;
        }
            .header_carousel_item_bg{
                background: url(../images/main_img_bg.jpg) 50% 0 no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                opacity: .4;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
            .header_carousel_item_content{
                width: 100%;
                position: relative;
                text-align: center;
                padding-top: 122px;
                z-index: 99;
                color: #fff; 
            }
                .header_carousel_item_content .title_img{
                    width: auto !important;
                    height: auto;
                    display: inline-block !important;
                    margin-bottom: 12px;
                }
                .logo_title_text{
                    font-size: 16px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #7F8385;
                    letter-spacing: 1px;
                    margin-bottom: 25px;
                }
                .header_carousel_item_content_text{
                    font-size: 17px;
                    margin-bottom: 23px;
                }
                [class^="btn_header"]{
                    font-size: 13px;
                    line-height: 1;
                    text-decoration: none;
                    padding: 12px 22px;
                    border-radius: 3px;
                    font-weight: bold;
                }
                .btn_header1{
                    border: 1px solid #fff;
                    padding-right: 44px;
                    position: relative;
                }
                    .btn_header1:after{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 7px;
                        background: url(../images/btn_arrow.png) 0 0 no-repeat;
                        right: 20px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    .btn_header1:hover{
                        background: #ff262b;
                        border-color: #ff262b;
                        color: #fff;
                    }
                .btn_header2{
                    background: #ff262b;
                    border: 1px solid #ff262b;
                    margin-left: 19px;
                }
                    .btn_header2:hover{
                        color: #ff262b;
                        background: none;
                    }
                .header_carousel_hr{
                    width: 634px;
                    height: 2px;
                    background: rgba(255, 255, 255, .4);
                    position: relative;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
                    .header_carousel_hr:before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 84px;
                        height: 2px;
                        top: -1px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                        background: #ff262b;
                    }
                
                .header_carousel_item_sub_title{
                    font-size: 20px;
                }
                .header_carousel_item_list_item{
                    width: 156px;
                    display: inline-block;
                    text-align: left;
                    font-size: 13px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    margin-left: 21px; 
                }
                    .header_carousel_item_list_item_percent{
                        font-size: 34px;
                        display: block;
                        float: left;
                        margin: -5px 5px 0 0;
                    }    

                .btn_see_header{
                    font-size: 15px;
                    position: relative;
                    padding: 0 0 0 30px
                }   
                    .btn_see_header:before{
                        content: "";
                        position: absolute;
                        top: -1px;
                        left: 0;
                        width: 16px;
                        height: 14px;
                        display: block;
                        background: url(../images/header_link_img.png) 0 0 no-repeat;
                    } 
                    .btn_see_header:hover{
                        color: #ff262b;
                        text-decoration: none;
                    }

            .header_carousel .owl-controls .owl-nav{
                display: none;
            }  
            .header_carousel .list_plagination{
                position: fixed;
                right: 25px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 99999;
            }        
                .header_carousel .list_plagination_link{
                    width: 11px;
                    height: 11px;
                    border: 2px solid #8b9095;
                    border-radius: 100%;
                    margin-bottom: 13px;
                }  
                .header_carousel .list_plagination_item.active .list_plagination_link{
                    background: #fc2c38;
                    border-color: #de1e29;
                }

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

    .comparisons_container{
        padding: 148px 0 60px;
        position: relative; 
    }
        .comparisons_container:before{
            content: "";
            position: absolute;
            background: url(../images/tarantool_img.png) 0 0 no-repeat;
            z-index: 99999;
            width: 391px;
            height: 257px;
            top: -161px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .comparisons_figure_img{
            width: 500px;
            height: 291px;
        }
            .comparise_rps{
                text-transform: uppercase;
                margin-bottom: 16px;
                font-size: 14px;
                line-height: 1;
                clear: both;
            }
            .comparise_left_list{
                text-transform: uppercase;
                text-align: left;
                width: 51px;
                margin-top: -5px;
            }
                .comparise_left_list_it{
                    color: #333;
                    font-weight: 600;
                    -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .comparise_left_list_it:not(:first-child){
                    color: #7B7B7B;
                }
                .comparise_left_list_it:nth-child(1){
                    padding-bottom: 40px;
                }
                .comparise_left_list_it:nth-child(2),
                .comparise_left_list_it:nth-child(3){
                    padding-bottom: 10px;
                }
                .comparise_left_list_it:nth-child(4){
                    padding-bottom: 63px;
                }

            .comparisons_figure_img_it{
                
            }

            .comparise_right_list{
                width: 95px;
                padding-left: 15px;
                text-align: left;
                margin-top: -1px;
            }
                .comparise_right_list_it{
                    -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 14px;
                    line-height: 1.2;
                    color: #333;
                }
                .comparise_right_list_it:not(:first-child){
                    font-weight: 600;
                }
                .comparise_right_list_it:nth-child(1){
                    padding-bottom: 42px;
                }
                .comparise_right_list_it:nth-child(2){
                    padding-bottom: 15px;
                }
                .comparise_right_list_it:nth-child(3){
                    padding-bottom: 17px;
                }
                .comparise_right_list_it:nth-child(4){
                    padding-bottom: 30px;
                }
                .comparise_right_list_it:nth-child(5){
                    padding-bottom: 17px;
                }
                .comparise_right_list_it:nth-child(6){
                    padding-bottom: 10px;
                }

        .comparisons_figure_text{
            width: 422px;
            padding-top: 61px;
            font-size: 20px;
        }

        .comparison_col{
            width: 350px;
            padding-right: 30px;
            float: left;
            font-size: 20px;
            line-height: 32px;
        }


        .package_table{
            width: 100%;
            margin: 8px 0 0;
        }

            .package_table_row{
                display: table-row;
            }

            [class^="package_table_col"]{
                display: table-cell;
                vertical-align: middle;
                padding-bottom: 20px;
            }

            .package_table_col1{
                width: 225px;
                padding-right: 42px;
                text-align: right;
            }

            .package_table_col2{
                width: 99px;
                padding-right: 10px;
            }

            .package_table_col3{
                width: 53px;
                padding-right: 10px;
                vertical-align: bottom;
            }
            .package_table_col4{
                width: 67px;
                padding-right: 10px;
            }
            .package_table_col5{
                font-size: 18px;
            }

            .red{
                color: #ff262b;
            }

            .gray{
                color: #989898;
            }

            .calculation_unit{
                width: 50%;
                overflow: hidden;
                float: left;
                padding: 42px 45px 47px;
                background-color: #f8f8f8;
            }

                .calculation_label{
                    float: left;
                    font-size: 15px;
                }
                .calculation_value{
                    float: right;
                    font-size: 17px;
                }

                .calculation_unit.active{
                    background-color: #fff;
                }

                .ui-slider{
                    background-color: #dbdbdb;
                    border-radius: 5px;
                    height: 6px;
                    position: relative;
                }

                .ui-slider-handle{
                    width: 18px;
                    height: 18px;
                    border-radius: 18px;
                    position: absolute;
                    top: -6px;
                    cursor: pointer;
                    margin-left: -9px;
                    outline: none;
                    background-color: #8a1b1d;
                    border: 6px solid #ff262b;
                }

                .ui-slider-range{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #ff262b;
                }

                .calculation_unit .ui-slider-horizontal .ui-slider-handle{
                    top: -100%;
                }

                [class^="marker"]{
                    float: left;
                    width: 25%;
                    font-size: 13px;
                    opacity: .6;
                }

                .marker4{
                    text-align: right;
                }

                .rps_markers [class^="marker"]{
                    width: 20%;
                }

                [class^="marker"]:first-child{
                    text-align: left;
                }
                [class^="marker"]:last-child{
                    text-align: right;
                }
    
    .start_using_container{
        padding: 100px 0 38px;
    }

        .using_list_counter{
            counter-reset: offer_list;
            text-align: center;
            margin-bottom: 48px;
        }
            .using_list_counter_item{
                display: inline-block;
                width: 280px;
                text-align: left;
                padding-left: 57px;
                position: relative;
                font-size: 16px;
            }
            .using_list_counter_item:nth-child(2){
                margin: 0 50px;
            }
                .using_list_counter_item:before{
                    counter-increment: offer_list;
                    content: counter(offer_list);
                    height: 36px;
                    width: 36px;
                    border: 3px solid #FF262B;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    font-size: 16px;
                    line-height: 36px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    text-align: center;
                    color: #FF262B;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: -11px;
                }

            .using_list_counter_item .jq-selectbox__select{
                border: 1px solid #a3a3a3;
                border-radius: 5px;
                outline: none;
                color: #333;
                background: none;
                width: 222px;
                height: 40px;
                line-height: 40px;
            }  
                .using_list_counter_item .jq-selectbox__select-text{
                    font-size: 15px;
                }
                .using_list_counter_item .jq-selectbox.dropdown.opened .jq-selectbox__select,
                .using_list_counter_item .jq-selectbox.dropdown.opened .jq-selectbox__select:focus,
                .using_list_counter_item .jq-selectbox.focused .jq-selectbox__select{
                    outline: none !important;
                    border: 1px solid #a3a3a3;
                }  
                .using_list_counter_item .jq-selectbox__select .jq-selectbox__trigger{
                    right: 11px;
                    width: 8px;
                }
                .using_list_counter_item .jq-selectbox__select .jq-selectbox__trigger-arrow{
                    border: none;
                    width: 8px;
                    height: 6px;
                    background: url(../images/select_arrow.png) 0 0 no-repeat;
                    right: 11px;
                    top:16px;
                }
                .using_list_counter_item .jq-selectbox__select:hover .jq-selectbox__trigger-arrow{
                    background: url(../images/select_arrow_hover.png) 0 0 no-repeat;
                }
                .using_list_counter_item .jq-selectbox__select .jq-selectbox__trigger{
                    border:none;
                }
                .using_list_counter_item .jq-selectbox.dropdown.opened .jq-selectbox__trigger-arrow{
                    background: url(../images/select_arrow_hover.png) 0 0 no-repeat;
                    transform: rotate(180deg);
                }
                .using_list_counter_item .jq-selectbox li{
                    min-height: 32px;
                    padding: 8px 20px 9px;
                    font-size: 15px;
                }
                .using_list_counter_item .jq-selectbox li.selected{
                    background: #f6f6f6;
                    color: #333;
                }
                .using_list_counter_item .jq-selectbox li:hover {
                    background-color: #f6f6f6;
                    color: #333;
                }
                .using_list_counter_item .jq-selectbox__dropdown{
                    border-radius: 5px;
                    overflow: hidden;
                    border-color: transparent;
                }

            .using_list_counter_item_copy{
                background: #2ca3ff;
                font-size: 16px;
                color: #fff;
                border: 1px solid #278fe0;
                border-radius: 5px;
                padding: 9px 19px 8px;
            }    
                .using_list_counter_item_copy:hover{
                    background: none;
                    color: #278fe0;
                    text-decoration: none;
                }

            .using_list_counter_item_copy.extra{
                font-size: 15px;
                padding: 5px 10px;
            }
        
        .start_using_link{
            color: #2ca3ff;
            font-size: 20px;
            padding-left: 26px;
            position: relative;
        }
            .start_using_link:before{
                content: "";
                width: 10px;
                height: 17px;
                background: url(../images/start_using_link_img.png) 0 0 no-repeat;
                position: absolute;
                display: block;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .start_using_link:hover{
                text-decoration: none;
                color: #333;
            }
        .start_using_text_block{
            width: 574px;
            background: #3a3a3a;
            margin: 0 auto 40px;
            padding: 20px 24px 19px;
            border-radius: 7px;
            color: #6dff55; 
            font-size: 17px;
        }

        .start_using_list_box_item{
            width: 227px;
            float: left;
            padding-left: 36px;
            position: relative;
        }  
            .start_using_list_box_item:first-child{
                width: 235px;
                padding-left: 0;
                margin-right: 15px;
            }
            .start_using_list_box_item:first-child:before{
                display: none;
            }
            .start_using_list_box_item:before{
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                width: 23px;
                height: 2px;
                background: #ffd956;
            }

            .start_using_list_box_item_title{
                font-size: 20px;
                font-weight: 900;
                color: #474747;
            } 

        .start_using_hr{
            width: 827px;
            height: 1px;
            display: block;
            margin: 0 auto 30px;
            background: #e8e8e8;
            border: none;
        }    



    .our_key_container{
        padding: 49px 0;
    }

        .our_key_container_title{
            position: relative;
            padding-bottom: 33px;
        }
            .our_key_container_title:before{
                content: "";
                position: absolute;
                width: 84px;
                height: 3px;
                background: #fc2c38;
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        
        .our_key_box{
            margin: 0 -34px;
        }
            .our_key_box_item{
                font-size: 13px;
                width: 263px;
                float: left;
                margin: 0 34px; 
            }
                .our_key_box_item_img{
                    min-height: 68px;
                    position: relative;
                    width: 100%;
                }
                    .our_key_box_item_img img{
                        position: absolute;
                        bottom: 0;
                    }
                .our_key_box_item_title{
                    text-transform: uppercase;
                    font-weight: 900;
                    color: #333333;
                }   
                .our_key_box_item_text{
                    color: #797979;
                } 
                .our_key_box_item_link{
                    color: #00abf2;
                }

            .our_key_hr{
                border: none;
                width: 100%;
                height: 1px;
                background: #ebebeb;
                margin-top: 30px;
                margin-bottom: 40px;
            }    

            .our_key_btn{
                margin-top: 20px;
                font-size: 13px;
                color:#333;
                text-transform: uppercase;
                font-weight: 900;
                padding: 9px 48px 9px 20px;
                border: 2px solid #333;
                border-radius: 5px;
                position: relative;
            }
                .our_key_btn:after{
                    content: "";
                    position: absolute;
                    width: 13px;
                    height: 10px;
                    right: 21px;
                    top: 50%;
                    background: url(../images/key_btn_arrow.png) 0 0 no-repeat;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }


    /* style 2*/

    .title10{
        font-size: 34px;
        line-height: 1.2;   
        color: #000;
        text-transform: uppercase;
    }
    .title11{
        font-size: 20px;
        line-height: 28px;  
        color: #808080;
    }
    .title12{
        font-size: 20px;
        line-height: 32px;  
    }
    [data-bg="_gray"]{
        background-color: #F5F5F5;
    }
    [data-bg="_red"]{
        background-color: #fc2c38;
    }
    [data-bg="_blue"]{
        background-color: #4200FF;
    }
    .lightblue{color: #00FFE4;}
    .yellow{color: #FFEE5D;}
    .bluecolor{color: #93C4ED;}
    .bluecolor2{color: #50BFFF;}
    /* +++++++++ */
    .offer_container{
        background-color: #FFF;
        padding: 54px 0 0 0;
        font-size: 15px;
        line-height: 24px;
    }
        .offer_list_counter{
            counter-reset: offer_list;
            text-align: center;
            margin-bottom: 60px;
        }
            .offer_list_counter_item{
                display: inline-block;
                width: 278px;
                text-align: left;
            }
            .offer_list_counter_item:nth-child(2){
                margin: 0 60px;
            }
                .offer_list_counter_item:before{
                    counter-increment: offer_list;
                    content: counter(offer_list);
                    height: 55px;
                    width: 55px;
                    border: 3px solid #FF262B;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    font-size: 24px;
                    line-height: 55px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    text-align: center;
                    color: #FF262B;
                    display: block;
                    margin: 0 auto 14px;
                }
                .offer_list_counter_item p{
                    margin-bottom: 0;
                }

        .offer_list_gray_box{
            text-align: center;
            padding: 35px 5px;
            min-height: 191px;
            margin-bottom: 68px;
        }
            .offer_list_gray_box p{
                display: inline-block;
                width: 205px;
                margin: 0 13px;
                text-align: left;
            }

    .who_we_are_container{
        background: url(../images/bg_1.png) 50% 50% no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 91px 0 88px 0;
    }   
        .who_we_are_list{
            padding: 0 30px;
            margin-bottom: 46px;
        }
            .who_we_are_list_item{
                width: 200px;
                margin: 0 50px;
                float: left;
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 2px;
                color: #fff;
                text-transform: uppercase;
            }
                .big_title{
                    font-size: 80px;
                    line-height: 1.3;
                    letter-spacing: 0;
                    color: #FFEE5D;
                }
                .who_title{
                    font-size: 26px;
                    line-height: 30px;
                    color: #FFF;
                }
                .fz20{
                    font-size: 20px;
                    line-height: 34px;
                }
                .fz26{
                    font-size: 26px;
                    line-height: 30px;
                }
                .mt-17{
                    margin-top: -17px;
                }

        .my_com_block{
            width: 617px;
            min-height: 188px;
            background: url(../images/mycom_bg.png) 0 0 no-repeat;
            margin: 0 auto;
            padding: 39px 43px 33px 43px;
        }
            .my_com_block_logo{
                
            }
                .my_com_block_logo a{
                    background: url(../images/white_logo.png) 0 0 no-repeat;
                    width: 140px;
                    height: 46px;
                }
            .my_com_block_text{
                margin-top: -5px;
                margin-left: 177px;
                font-size: 17px;
                line-height: 24px;
                color: #FFF;
            }
                .my_com_block_text p{
                    margin-bottom: 0;
                }
                .my_com_block_text p:first-child{
                    margin-bottom: 25px;
                }

        .red_block_container{
            height: 80px;
        }
            .red_block_img{
                display: inline-block;
                padding: 11px 33px 0 54px;
            }
            .red_block_item{

            }
                .red_block_text{
                    vertical-align: middle; 
                    position: relative;
                    height: 100%;
                    font-size: 17px;
                }

        .our_team_container{
            padding: 65px 0 74px;
        }
            .our_team_container .title12{
                padding: 0 120px;   
            }
            .card_list_container{
                margin: 0 -33px 44px;
                text-align: center;
            }
                .card_list_figure{
                    width: 235px;
                    height: 389px;
                    background-color: #3800D9;
                    padding: 28px 20px 28px 20px;
                    margin: 0 11px 25px;
                     float: left; 
                }
                    .card_list_img{
                        margin: 0 auto 14px;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        overflow: hidden;
                        width: 169px;
                        height: 170px;
                    }
                        .card_list_img img{
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            overflow: hidden;
                        }
                    .card_list_info{
                        
                    }
                        .card_list_info a:hover{
                            color: #93C4ED;
                        }
                        .names_and_profession_box{
                            text-align: center;
                            margin-bottom: 23px;
                        }
                            .card_name{
                                font-size: 17px;
                                line-height: 24px;
                                margin-bottom: 0;
                            }
                            .card_proffesion{
                                font-size: 15px;
                                line-height: 24px;
                                color: #FFF;
                            }

                        .card_phoneAndadress{
                            text-align: center;
                        }
                            .phone_box,
                            .phone_box a{
                                color: #fff;
                            }
                                .phone_box a{
                                    text-decoration: none;
                                }
                            .skype_box{
                                color: #fff;
                            }
                                .skype_box a{
                                    color: #FFF;
                                    text-decoration: none;
                                }
                            .email_box{
                                
                            }
                                .email_box a{
                                    color: #50BFFF !important;
                                }
                                .email_box a:hover{
                                    color: #FFF !important;
                                }

            .after_card_text{
                text-align: center;
                padding: 0 110px;
                font-size: 15px;
                line-height: 24px;
            }

/* style 3*/

    [data-skin="yellow"]{
    background-color: #F2E897;
}
[data-skin="violet"]{
    background-color: #6B507D;
}
[data-skin="red"]{
    background-color: #C9323A;
}
[data-skin="brown"]{
    background-color: #eadd90;
}

[data-color="black"]{
    color: #000;
}
[data-color="white"]{
    color: #fff;
}
[data-color="brown"]{
    color: #A17C51;
}
[data-color="brown_light"]{
    color: #B08F5E;
}
[data-color="violet_light"]{
    color: #C4B1D1;
}
[data-color="red_light"]{
    color: #FFB7BB;
}
[data-color="blue_dark"]{
    color: #2F8DBB;
}
[data-color="blue_bright"]{
    color: #4AADEE;
}
[data-color="blue_bright2"]{
    color: #36B1FF;
}
[data-color="blue_bright3"]{
    color: #00FFE4;
}
[data-color="blue_light"]{
    color: #93C4ED;
}
[data-color="blue_light2"]{
    color: #45BBFF;
}
[data-color="yellow"]{
    color: #FAED86;
}
[data-color="yellow_light"]{
    color: #FFFB8C;
}
[data-color="grey"]{
    color: #474747;
}
[data-color="grey_light"]{
    color: #797979;
}
[data-color="grey_dark"]{
    color: #333;
}
[data-color="orange"]{
    color: #F4897E;
}

.title1{
    font-size: 34px;
    line-height: 1.2;
}
.title2{
    font-size: 24px;
    line-height: 1.2;
}
.title3{
    font-size: 20px;
    line-height: 1.2;
}
.title4{
    font-size: 17px;
    line-height: 1.2;
}

.bold{
    font-weight: 700;
}
.light{
    font-weight: 200;
}
.tt_upp{
    text-transform: uppercase;
}

.fz130{
    font-size: 130px;
}

/*------------------------------------------------------------*/
.conteiner_indent{
    padding: 48px 0 0 0;
}

.speed_info_box,
.illustration_box{
    width: 48%;
}
    .speed_info_box .title2{
        line-height: 1.5;
    }
.illustration_box{}
    .accordion_btn{
        color: #FFF;
        height: 37px;
        font-size: 13px;
        font-weight: 700;
        padding: 7px 48px 7px 18px;
        margin: 5px 5px 30px 5px; 
        display: inline-block;
        border: 2px solid #fff;
        position: relative;
        text-transform: uppercase;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        background-color: transparent;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -o-transition: all 0s ease;
        transition: all 0s ease;
    }
    .accordion_btn:hover{
        color: #000;
        border: 2px solid #000;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -o-transition: all 0s ease;
        transition: all 0s ease;
    }
        .accordion_btn:hover .learn_more_btn:after{
            transform: rotate(180deg);
            background: url(../images/hide_icon.png) 0% 0% no-repeat;
        }
        .accordion_btn:hover .hide_btn:after{
            background: url(../images/hide_icon.png) 0% 0% no-repeat;
        }
        .accordion_item_link .learn_more_btn:after{
            transform: rotate(180deg);
            content: '';
            width: 10px;
            height: 13px;
            top: 2px;
            right: -27px;
            background: url(../images/hide_icon2.png) 0% 0% no-repeat;
            position: absolute;
        }
        .accordion_item_link .hide_btn:after{
            content: '';
            width: 10px;
            height: 13px;
            top: 2px;
            right: -27px;
            background: url(../images/hide_icon2.png) 0% 0% no-repeat;
            position: absolute;
        }
        .accordion_item_link .hide_btn{
            display: none;
        }
        .accordion_item_link.active .hide_btn{
            display: block;
        }
        .accordion_item_link.active .learn_more_btn{
            display: none;
        }
        .learn_more_btn,
        .hide_btn{
            position: relative;
        }
    .violet_block .accordion_btn{
        /*margin-left: 40px;*/
    }

        .sub-menu{
            display: none;
            padding: 60px 0 55px;
            width: 100%;
        }
            .sub-menu > .title2{
                padding: 0 50px 30px;
                position: relative;
            }
                .hr120{
                    height: 2px;
                    width: 120px;
                    border: none;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    display: block;
                    background-color: #E6CD77;
                }
                .hr340{
                    width: 340px;
                    margin: 0 auto 45px;
                    border-top: none;
                    display: block;
                    border-bottom: 3px solid #cc3e46;
                }
                .hr100p{
                    width: 100%;
                    height: 2px;
                    border: none;
                    background-color: #705581;
                }

                    .feed_speed_info_box{
                        width: 48%;
                    }
                        .text_style1 p{
                            font-size: 17px;    /*--- temporaly ---*/
                            line-height: 1.6;   /*--- temporaly ---*/
                            margin-bottom: 45px;
                            color: #a17c51;
                        }
                .speed_center_block{
                    width: 690px;
                    margin: 0 auto 45px;
                    padding: 22px 34px;
                    
                    text-align: center;
                    font-size: 15px;
                    line-height: 1.8;
                    
                }
            .three_col_table{
                margin-bottom: 20px;
            }
                .three_col_table tr{
                    min-height: 115px;
                    display: block;
                }
                .three_col_table td{
                    width: 33%;
                    margin-bottom: 20px;
                    display: inline-block;
                    
                    
                    line-height: 1.6;   /*--- temporaly ---*/
                }
                .three_col_table.yellow_block td{
                    padding-left: 60px;
                    font-size: 15px;    /*--- temporaly ---*/
                    color: #a17c51;
                }
                .three_col_table.violet_block td{
                    padding-left: 54px;
                    
                    font-size: 17px;
                    color: #C4B1D1;
                    position: relative;
                }
                    .three_col_table.violet_block td:before{
                        content: "";
                        left: 25px;
                        top: 13px;
                        width: 18px;
                        height: 2px;
                        position: absolute;
                        background-color: #C88E50;
                    }

                .red_star{
                    color: #f22534;
                }
            .for_free_info{
                width: 38%;
                font-size: 60px;
                line-height: 1.1;
            }
                .for_free_info p{
                    font-size: 17px;
                    line-height: 1.6;
                    margin-left: 35px;
                    margin-top: 40px;
                    position: relative;
                    display: inline-block;
                }
                    .for_free_info p:before{
                        content: "*";
                        font-weight: 500;
                        font-size: 26px;
                        color: #F4897E;
                        left: -30px;
                        top: 0;
                        position: absolute;
                    }
            .for_free_list{
                width: 58%;
            }
                .for_free_list_ul{
                    margin-top: 20px;
                }
                    .for_free_list_ul li{
                        color: #C4B1D1;
                        font-size: 17px;
                        line-height: 1.6;
                        position: relative;
                        margin-bottom: 40px;
                    }
                        .for_free_list_ul li:before{
                            content: "";
                            width: 18px;
                            height: 2px;
                            left: -35px;
                            top: 12px;
                            position: absolute;
                            background-color: #86689A;
                        }
        .sollution_box{
            width: 48%;
        }
            .red_block p{
                line-height: 1.6;
                font-size: 17px;
            }
            .start_using{
                color: #fff;
                font-size: 12px;
                margin-bottom: 45px;
                -webkit-border-radius: 4px;
                        border-radius: 4px;
                padding: 8px 12px 8px 60px;
            }
                .start_using:hover{
                    color: #fff;
                }
            .t_in_aws{
                background: #000 url(../images/aws_icon.png) 12% 50% no-repeat;
            }
            .t_in_azure{
                background: #000 url(../images/azure_icon.png) 12% 50% no-repeat;
            }

        .red_title_block{
            width: 54%;
        }
            .red_title_block .title2{
                line-height: 1.7;
            }
        .red_list_block{
            width: 37%;
        }
            .red_list_block_ul{
                
            }
                .red_list_block_ul li{
                    color: #FFF;
                    line-height: 1.6;
                    font-weight: 200;
                    position: relative;
                    margin-bottom: 40px;
                }
                    .red_list_block_ul li:before{
                        content: "";
                        width: 19px;
                        height: 2px;
                        left: -30px;
                        top: 12px;
                        background-color: #d97075;
                        position: absolute;
                    }
        .red_block_center_box{
            font-size: 20px;
            
            width: 662px;
            margin: 0 auto;
            background-color: #BA2C39;
            padding: 27px 35px;
        }
            .red_block_figure_img{
                width: 15%;
            }
            .red_block_center_box figcaption{
                width: 82%;
                padding: 10px 0;
            }

    .accordion{
        
    }
        .accordion_item{
        }
/*---------------  PRICING  ------------*/
.pricing_row{
    margin-bottom: 100px;
}
.pricing_figure{
    width: 48%;
}
    .pricing_img_box{
        width: 24%;
    }
    .pricing_figure_figcaption{
        width: 70%;
    }
        .pricing_figure_figcaption .title2{
            line-height: 2.3;
        }
        .pricing_figure_figcaption .title3{
            line-height: 1.7;
        }
.pricing_table_box{
    width: 50%;
}
    .pricing_table{
        display: block;
        width: 100%;
        font-size: 17px;
        padding: 0 44px;
        margin-bottom: 35px;
        background-color: #F8F8F8;
    }
        .pricing_table a{
            color: #41A8FF;
        }
        .pricing_table .pricing_table_row:last-child{
            border-bottom: none;
        }
        .pricing_table_row{
            width: 100%;
            padding: 20px 0;
            display: block;
            border-bottom: 1px solid #e9e9e9;
        }
            .pricing_table_row td{
                line-height: 1.7;
                width: 197px;
            }
            .pricing_table_row td:first-child{
                color: #7E7E7E;
            }
            .pricing_table_row td:last-child{
                color: #333;
            }
    .pricing_info{
        color: #ACACAC;
        padding: 0 50px;
        position: relative;
    }
        .pricing_info:before{
            content: "*";
            width: 7px;
            height: 7px;
            left: 25px;
            top: 2px;
            color: #FF262B;
            font-size: 15px;
            position: absolute;
        }



/*--------------footer-----------------*/
.footer_container{
    font-size: 11px;
    padding: 0 24px;
}
    .footer_logo{
        display: inline-block;
        margin-right: 22px;
    }
        .footer_menu_item{
            float: left;
        }

            .footer_menu_link{
                color: #000;
                padding: 0 5px;
                margin-right: 22px;
                display: inline-block;
                text-decoration: none;
            }
            .footer_menu_link:hover{
                text-decoration: none;
                color: #ff262b;
            }


.swithcher_btn{
    margin: 0 7px;
    text-transform: none;
    font-size: 20px;
    display: inline-block;
    padding: 6px 15px;
    color: #36b1ff;
    background: none;
}

.swithcher_btn.active,
.swithcher_btn:hover{
    background-color: #fff;
    color: #333333;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 0px rgba(0,0,0,.11);
    box-shadow: 0 2px 0px rgba(0,0,0,.11);
}
    .select_wrapper .jq-selectbox__dropdown{
        top: inherit !important;
        bottom: 100% !important;
    }       


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        padding:30px 0px 30px 0px;
    }
        /*--------------footer-----------------*/
        .footer_container{
            font-size: 11px;
            padding: 0 24px;
        }
            .footer_logo{
                display: inline-block;
                margin-right: 22px;
            }
                .footer_menu_item{
                    float: left;
                }

                    .footer_menu_link{
                        color: #000;
                        padding: 0 5px;
                        margin-right: 22px;
                        display: inline-block;
                        text-decoration: none;
                    }
                    .footer_menu_link:hover{
                        text-decoration: none;
                        color: #ff262b;
                    }


        .swithcher_btn{
            margin: 0 7px;
            text-transform: none;
            font-size: 20px;
            display: inline-block;
            padding: 6px 15px;
            color: #36b1ff;
            background: none;
        }

        .swithcher_btn.active,
        .swithcher_btn:hover{
            background-color: #fff;
            color: #333333;
            border-radius: 5px;
            -webkit-box-shadow: 0 2px 0px rgba(0,0,0,.11);
            box-shadow: 0 2px 0px rgba(0,0,0,.11);
        }
            .select_wrapper .jq-selectbox__dropdown{
                top: inherit !important;
                bottom: 100% !important;
            }

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }





.img_col_box{
    width: 100%;    
}

.img_col_box>div{
    display: table-cell;
    width: 50%;
}


.speed_info_box{
    padding-right: 40px;
}

.speed_info_box.var2{
    padding-right: 0;
    padding-left: 70px;
}

.img_col_box .img_wrap,
.img_col_box .img_wrap img{
    vertical-align: bottom;
}